<ol>
  <% @articles.reject{ |a| a.metadata['hidden'] || a.metadata['date'].nil? }.sort_by{ |a| a.metadata['date'] }.reverse.each do |article| %>
    <time datetime="<%= article.metadata['date'] %>"><%= article.metadata['date'] %></time>
    <li class="<%= article.metadata['type'].downcase || "other"%> article">
      <h2>
        <a href="<%= article.url %>">
          <%= article.metadata['title'] %>
        </a>
      </h2>
    </li>
  <% end%> 
</ol>
